<!--
<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let post of posts">
    <header mat-line><b></b></header>
    <p mat-line> {{post.body}}</p>
  </mat-list-item>
  <mat-divider></mat-divider>

</mat-list>
-->

<mat-accordion>

  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>
       <h3> {{post.title}}</h3>
      </mat-panel-title>
      <mat-panel-description>
      <hr> 
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p [innerHTML]="post.body"></p>
  </mat-expansion-panel>

</mat-accordion>