<!--
 <mat-toolbar color="primary" class="navbar">
   <div>D4D</div> 

   <div>
<div>
    <button mat-button routerLink="/"  routerLinkActive= "active" ><h3>Home</h3></button> 
    <button mat-button routerLink="/charts"  routerLinkActive= "active" ><h3>Charts</h3></button> 
    <button mat-button routerLink="/"  routerLinkActive= "active" ><h3>Contact</h3></button> 
    <button mat-button routerLink="/"  routerLinkActive= "active" ><h3>About us</h3></button> 
   </div>
</div>

 </mat-toolbar>
 
-->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">D4D</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link active" routerLink="" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/charts" routerLinkActive="active">Charts</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link active" routerLink="/maps" routerLinkActive="active">Maps</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/dashboard" routerLinkActive="active">dashboard</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/login"
        [routerLinkActive]="['active']">Logout</button>
    </form>
  </div>
</nav>