<div style="text-align:center">
<div style="width:80%; height: 80%;">
  <canvas id="lineChart"></canvas>
</div>
  <div style="text-align:center">
    <h4>Add new dataset to the chart</h4>
    <mat-form-field>
      <mat-label>choose type</mat-label>
      <select matNativeControl required #type>
        <option value="bar">Bar</option>
        <option value="line">Line</option>
      </select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>choose data</mat-label>
      <select matNativeControl required #data>
        <option *ngFor="let dataset of datasets" [value]="dataset.id">
          {{ dataset.name }}
        </option>
      </select>
    </mat-form-field>
    <p>  </p>

    <button mat-raised-button color="primary" (click)="adddata(type.value, data.value)">Add dataset</button>
    <button type="button" class="btn btn-info" (click)="removedata()">Remove</button>

  </div>
</div>