
   <p>



   </p>
    <app-carousel></app-carousel>

    <hr class="featurette-divider">
<div class="flex-container">
    <div>
        <mat-card class="example-card">

            <img mat-card-image
                src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Rs&#47;RsultatsElectionsMunicipales2018&#47;RsultatsElectionMunicipales2018Overview&#47;1.png"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p style="color:red;">
                    Official Municipal Elections
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="btn btn-primary" routerLink="/maps/elecmunic" routerLinkActive= "active">Open </button>

            </mat-card-actions>
        </mat-card>
    </div>
    <div>
        <mat-card class="example-card">

            <img mat-card-image
                src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Rs&#47;RsultatsElectionsMunicipales2018&#47;DBMaire&#47;1_rss.png"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p style="color:red;">
                    Election of Mayors 2018
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="btn btn-primary" routerLink="/maps/elections" routerLinkActive= "active">Open </button>

            </mat-card-actions>
        </mat-card>
    </div>
    
    <div>
        <mat-card class="example-card">

            <img mat-card-image
                src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Rs&#47;RsultatsElectionsMunicipales2018&#47;suffragesparPartiTotalListeindpendantes&#47;1_rss.png"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p style="color:red">
                   Percentage of Votes
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="btn btn-primary" routerLink="/maps/elec" routerLinkActive= "active">Open </button>
            </mat-card-actions>
        </mat-card>
    </div>
   <!-- <div>
        <mat-card class="example-card">

            <img mat-card-image
                src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Rs&#47;RsultatsElectionsMunicipales2018&#47;DBMaire&#47;1_rss.png"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="btn btn-primary">Open </button>
            </mat-card-actions>
        </mat-card>
    </div>-->
</div>
<div class="yes">
    <button class="btn btn-primary" routerLink="/maps" routerLinkActive= "active"> See more </button>
</div>
<hr class="featurette-divider">
<app-footer></app-footer>